@import "../../variables.scss";

.popup_container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  
  .backdrop {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.6);
  }

  .popup_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 40rem;
    padding: 2rem;
    border: 1px solid $color-primary;
    background-color: #fff;

    h1 {
      margin-bottom: 2rem;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 1.3rem;
      
      input, span {
        margin-bottom: 1rem;
        padding: 1rem;
      }

      input[type=textarea] {
        word-wrap: break-word;
      }
    }

    button {
      width: 100%;
      padding: 1rem;
      margin-top: 1rem;
      background-color: $color-secondary;
      font-weight: 600;
      cursor: pointer;
      transition: all .1s ease;

      &:hover {
        background-color: $color-primary;
        color: #fff;
      }
    }
  }
}

